* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    bottom: 0;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.5);
    position: absolute;
    bottom: 0;
}


#footer-text {
    color: whitesmoke;
    margin: 0 auto;
    align-self: center;
}    