body {
    background-image: url("../pictures/body-background.png");
    background-repeat: repeat-y;
    min-height: 100vh;
}
#element {
    background-color: rgba(112, 112, 112, 0.5);
    color: whitesmoke;
}