
h4 {
    font-weight: 600;
}
main {
    display: flex;
    align-items: center;
    height: calc(100% - 57px);
}
@media(width < 768px) {
    main {
        padding-bottom: 150px;
    }
}

.table {
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.btn-primary {
    font-size: 1.1rem;
    padding: 10px 0;
}

input, textarea {
    border-radius: 5px;
}

.box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

