body {
    background-color: #f8f9fa;
}

h3, h5, h6 {
    font-weight: 600;
}

.img-fluid {
    border-radius: 10px;
}

.img-fluid-initial {
    width: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}