body, html {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.bg-secondary-light {
    background-color: #f7f5f3 !important;
}

.card {
    padding: 0.5rem;
}

.item-price {
    min-width: 60px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
}
